body {
  font-family: 'Roboto', sans-serif;
}
h3 {
  text-transform: uppercase;
    font-size: 1em;
    margin-bottom: 0;
    padding-bottom: 0.25em;
    border-bottom: 2px solid #515151;
}
.dir.rcem0st {
    padding-top: 8px;
    padding-bottom: 8px;
    border-bottom: 1px solid rgb(221, 221, 221);
}
._jro6t0 {
    display: flex !important;
}
._7ytxmo {
    margin-right: 16px !important;
}
._oyq8vf {
    -webkit-box-align: center !important;
    min-height: 20px !important;
    display: flex !important;
    align-items: center !important;
}
._hi9sy {
    color: rgb(113, 113, 113) !important;
    margin-top: 4px !important;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif !important;
    word-break: break-word !important;
    font-size: 14px !important;
    line-height: 18px !important;
}
